.img-box[data-v-f325866b]{width:200px;height:200px;position:relative;border:1px solid #ccc;overflow:hidden}.img[data-v-f325866b]{width:100%;height:100%;object-fit:contain}.draw-canvas[data-v-f325866b]{position:absolute;left:0;top:0}
